@charset "utf-8";

header {
    padding: 50px 50px 10px;
    background-color: #178582;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

header p {
    font-size: 18px;
}